* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 24px;
  width: 300px;
  font-family: "Outfit", sans-serif;
}

#pageIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#pageName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #353535;
}

#message {
  font-size: 14px;
  color: green;
  margin-bottom: 10px;
}

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #353535;
  border: 2px solid #353535;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
}

.button-done {
  background-color: #353535;
  color: white;
}
